doctype html
html(lang="en")
    head
        title Airplane game
        meta(name"title" content="Airplane game")
        meta(name"desciption" content="Airplane game")
        link(rel="stylesheet" href="css/main.css")
        script(src="js/p5.js")
        script(src="js/Cloud.js" defer)
        script(src="js/control.js" defer)
        script(src="js/Plane.js" defer)
        script(src="js/game.js" defer)
    body
        #game_container

